.card-1{
    background-color:#EEEEEE;
}
.img-logo{
    right: 10px;
    top: 10px;
}
.satir-1{
    display: flex;
   
    justify-content: center; /* Dikeyde hizalamak için */
    align-items: center; /* Yatayda hizalamak için */
}
.card-2{
    background-color:#344955;
}
.btnTable{
    display: flex;
    justify-content: center; /* Dikeyde hizalamak için */
    align-items: center; /* Yatayda hizalamak için */
}
